.menu-icon {
  background: none;
  border: none;
  
  &:hover {
    cursor: pointer;
  }

  &__line {
    width: 40px;
    height: 2px;
    border-radius: 1px;
    background: #fff;
    transition: all 200ms cubic-bezier(.7,0,.3,1);
    transition-delay: 100ms;
  }

  &__middle {
    position: relative;
    margin: 10px 0;
    height: 2px;

    .menu-icon__line {
      position: absolute;
      transition-delay: 0ms;
    }

  }

  &.is-opened {

    .menu-icon__top {
      transform: translateX(100%) scaleX(0);
      transition-delay: 0s;
    }

    .menu-icon__bottom {
      transform: translateX(-100%) scaleX(0);
      transition-delay: 0;
    }

    .menu-icon__middle-1 {
      transform: rotate(45deg);
      transition-delay: 100ms;
    }

    .menu-icon__middle-2 {
      transform: rotate(-45deg);
      transition-delay: 100ms;
    }

  }

}


