$orange: #EC6969;
$blue: #47b1c2;
$purple: #4d4563;
$yellow: #d6d182;
$green: #7dc581;

//$primary: #04D3B4;
$primary: $blue;
$secondary: $purple;
$body-bg: #181D28;
$body-color: #fff;
$text-muted: #8991a2;
$header-bg: #22283c;
$dark: $header-bg;


$border-radius: .1em;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;

$border-color: #545A6A;

$font-size-base: 1.125rem;
$font-family-base: 'Avenir';


$transition-base: all .1s ease-in-out;
$btn-transition: $transition-base;

$code-color: $orange;